<!DOCTYPE html>
<html>
    <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"> 
        <title>Bad Request</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/css/styles.css">
      <link rel="shortcut icon" type="image/jpg" href="/img/book.png"/>
    </head>
    <body>
        <div id="background-container">
            {{>header}}
            <div class="blur-container">
                <p>{{message}}</p>
                <a href="/index/#signup-submit">{{linkName}}</a>
            </div>
        </div>
    </body>
</html>