<!DOCTYPE html>
<html>
    <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"> 
        <title>404</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/css/styles.css">
      <link rel="shortcut icon" type="image/jpg" href="/img/book.png"/>
    </head>
    <body>
        {{>header}}
        <h3 id="status-text">404</h3>
        <p>This page ain't here and/or doesn't exist.</p>
        <ul>
            <li><a href="/currentbest">View Hardcover Fiction Bestsellers Books</a></li>
            <li><a href="/myratings">My Rated Books</a></li>
            <li><a href="/getbooklists">Search all NY Times Bestseller Lists</a></li>
        </ul> 
    </body>
</html>