<!DOCTYPE html>

<html>
    <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <h3>Search Booklists</h3>
        <form id="booklist-form">
        <label for="select-box">Choose a booklist</label><br>
        <select id="select-box">
            <option selected>No option selected</option>
            {{#each booklist as |listName|}}
                <option>{{listName}}</option>
            {{/each}}
        </select>
        <button type="submit">Search</button>
        </form>



        
        <script src="js/getbooklists.js" async defer></script>
        <script src="/js/currentbest.js"></script>
    </body>
</html>