<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title>Login/Signup</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
         
        <form id="login-submit" action="/users/login" method="post">
              <h3>Login</h3>
              <label for="usernamename"><b>Username</b></label>
              <input type="text" placeholder="Enter Username" name="username" required>

              <label for="password"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="password" required>

              <button type="submit">Login</button>
              <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label>
        </form>
        <form id="signup-submit" action="/users/signup" method="post">
            <h3>New to Bestseller Ratings? Sign up here</h3>
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <button type="submit">Create Account</button>
        </form> 
    </body>
</html>

