<!DOCTYPE html>
<html>
    <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"> 
        <title>Alert</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/css/styles.css">
      <link rel="shortcut icon" type="image/jpg" href="/img/book.png"/>
    </head>
    <body>
        <div id="background-container">
            {{>header}}
            <div class="blur-container">
                
                <h3 id="message">Your rating for {{bookTitle}} has been successfully submitted</h3>
                <ul>
                    <li class="list-links"><a href="/myratings">My Rated Books</a></li>
                    <li class="list-links"><a href="/currentbest">View Hardcover Fiction</a></li>
                    <li class="list-links"><a href="/getbooklists">View all NY Times Bestseller Lists</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>