<!DOCTYPE html>

<html>
    <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"> 
        <title>Success</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}

        <p id="message">Message here</p>




        <ul>
            <li><a href="/currentbest">View Current NY Times Bestsellers Books</a></li>
            <li><a href="/myratings">My Rated Books</a></li>
            <li><a href="/getbooklists">View all NY Times Bestseller Lists</a></li>
        </ul>
        
        <script src="/js/home.js" async defer></script>
        <script src="/js/app.js" async defer></script>
    </body>
</html>