<!DOCTYPE html>
<html>
    <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"> 
        <title>Alert</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <h3 id="message">{{message}} for {{bookTitle}}</h3>
        <ul>
            <li><a href="/myratings">My Rated Books</a></li>
            <li><a href="/currentbest">View Hardcover Fiction</a></li>
            <li><a href="/getbooklists">View all NY Times Bestseller Lists</a></li>
        </ul>
    </body>
</html>