<!DOCTYPE html>

<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}

        
        <script src="js/myratings.js" async defer></script>
        <script src="/js/app.js" async defer></script>
    </body>
</html>

