<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Rating</title>
</head>
<body>
    {{>header}}
    <h3>Book Review for {{bookTitle}}</h3>
    <p>Ranked #{{bookID}} on the NY Times Current Bestsellers</p>
    <form id="review-form">
        <div class="star-widget">
            <h4>Star Rating:</h4>
            <input class="rating-star" type="radio" name="rate" id="1">
            <label class="rating-star" for="rate-5" class="fas fa-star">1</label>
            <input class="rating-star" type="radio" name="rate" id="2">
            <label class="rating-star" for="rate-4" class="fas fa-star">2</label>
            <input class="rating-star" type="radio" name="rate" id="3">
            <label class="rating-star" for="rate-3" class="fas fa-star">3</label>
            <input class="rating-star" type="radio" name="rate" id="4">
            <label class="rating-star" for="rate-2" class="fas fa-star">4</label>
            <input class="rating-star" type="radio" name="rate" id="5">
            <label class="rating-star" for="rate-1" class="fas fa-star">5</label>
            <header>
            </header>
        <div class="textarea">
                <textarea cols="30" id="review-input" placeholder="Write your book review here..."></textarea>
        </div>
        <div class="btn">
                <button type="submit" class="review-button">Post</button>
                </div>
        </div>
    </form>
    <script src="/js/rating.js"></script>
    <script src="/js/app.js" async defer></script>
</body>
</html>