<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Update Rating</title>
</head>
<body>
    {{>header}}
    <h3 id="book-title-header"> Update Book Review for {{bookName}}</h3>
    <form id="update-form" action="">
        
            <input id="booktitle" type="hidden" name="booktitle" value="{{bookName}}">
            <h4>Star Rating:</h4>
            <input class="rating-star" type="radio" name="rate" id="1" value="1">
            <label class="rating-star" for="rate-5" class="fas fa-star" >1</label>
            <input class="rating-star" type="radio" name="rate" id="2"value="2">
            <label class="rating-star" for="rate-4" class="fas fa-star" >2</label>
            <input class="rating-star" type="radio" name="rate" id="3"value="3">
            <label class="rating-star" for="rate-3" class="fas fa-star" >3</label>
            <input class="rating-star" type="radio" name="rate" id="4"value="4">
            <label class="rating-star" for="rate-2" class="fas fa-star" >4</label>
            <input class="rating-star" type="radio" name="rate" id="5"value="5">
            <label class="rating-star" for="rate-1" class="fas fa-star" >5</label>
            <header>
            </header>
            <textarea cols="30" name="input" id="review-input" placeholder="Write your book review here..." required></textarea>
            <button type="submit" class="review-button">Post</button>
            <h4 id="success-text"></h4>
    </form>
<script src="/js/update-review.js"></script>
</body>
</html>