<h1>Best Sella Tella</h1>

<navbar>
    <a href="/home" class="button">Home</a>
    <a href="/myratings" class="button">My Ratings</a>
    <a href="/currentbest" class="button">Current Bestsellers</a>
    <a href="/getbooklists" class="button">Booklists</a>
    <a href="/" class="button" class="sign-out-button">Sign Out</a>
</navbar>

<h2>{{title}}</h2>