<h1>Best Seller Ratings</h1>

<navbar>
    <a href="/home" class="button">Home</a>
    <a href="/myratings" class="button">My Ratings</a>
    <a href="/getbooklists" class="button">Find a Booklist</a>
    <a href="/currentbest" class="button">Hardcover Fiction Bestsellers</a>
    <form action="/users/logout" method="post" class="sign-out-form">
        <button type="submit" class="sign-out-button">Sign Out</button>
    </form>
</navbar>

<h2>{{title}}</h2>